PORT=3030

# Postgres Credentials
DATABASE_NAME=druling
DATABASE_USER=druling
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_PORT=5432

INTERNAL_SECRET=drulinghere

LOG_LEVEL=INFO
LOG_FORMAT=standard

BACKEND_URL=http://localhost:8000/internal/v1
